<!-- Views/ImageSelection/Index.cshtml -->

<style>
    .pseudo_btn_wrap_in {
        width: 155px;
    }

    .my_red {
        background-color: darkred;
    }
</style>

@model List<FancyTreeNode>

@section scripts {
    <link rel="stylesheet" href="~/lib/jquery.fancytree/dist/skin-lion/ui.fancytree.min.css">
    <script src="~/lib/jquery.fancytree/dist/jquery.fancytree-all-deps.min.js"></script>
    <script src="~/lib/jquery.fancytree/dist/modules/jquery.fancytree.filter.js"></script>
    <script src="~/js/image_selection_adding.js"></script>
    <script>
        var modelData = @Html.Raw(Json.Serialize(Model));
        BdProdJs.images_selection(modelData);
    </script>
    <link rel="stylesheet" href="~/css/selection_images.css">
}

<div style="display: flex;">
    <div style="flex: 1;">
        <input type="text" id="treeSearch" placeholder="Recherche...">
        <div id="fancytree"></div>
        <div class="pseudo_btn_wrap_out">
            <div id="addImages" class="pseudo_btn_wrap_in">
                <div class="pseudo_btn">
                    Continuer
                </div>
            </div>
            <br />
            <br />
            <div id="moveToTrash" class="pseudo_btn_wrap_in">
                <div class="pseudo_btn my_red">
                    -> Poubelle
                </div>
            </div>
        </div>
    </div>
    <div id="imageGallery" style="flex: 4;"></div>
</div>


<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
</div>