<!-- Views/ImageSelection/Index.cshtml -->

<style>
    .pseudo_btn_wrap_in {
        width: 155px;
    }

    .my_red {
        background-color: darkred;
    }
</style>

@model List<FancyTreeNode>

@section scripts {
    <link rel="stylesheet" href="~/lib/jquery.fancytree/dist/skin-lion/ui.fancytree.min.css">
    <script src="~/lib/jquery.fancytree/dist/jquery.fancytree-all-deps.min.js"></script>
    <script src="~/lib/jquery.fancytree/dist/modules/jquery.fancytree.filter.js"></script>
    <script>
        $(document).ready(function () {
            $('#fancytree').fancytree({
                source: @Html.Raw(Json.Serialize(Model)),
                extensions: ['filter'],
                filter: {
                    mode: 'hide'
                },
                activate: function (event, data) {
                    var selectedFolder = data.node.data.path;
                    $.ajax({
                        url: '/ImageSelection/GetImages',
                        type: 'GET',
                        data: { folderPath: selectedFolder },
                        success: function (data) {
                            $('#imageGallery').empty();
                            data.forEach(function (image) {
                                var imageElement = $('<div class="imageContainer"></div>');
                                var img = $('<img src="' + image.path + '" style="max-width: 100%;" />');
                                var imageName = $('<p>' + getImageName(image.path) + '</p>');
                                var zoomIcon = $('<div class="zoomIcon">&#128269;</div>');
                                imageElement.append(img);
                                imageElement.append(zoomIcon);
                                imageElement.append(imageName);
                                $('#imageGallery').append(imageElement);
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Erreur de chargement des images:', errorThrown);
                        }
                    });
                }
            });

            $('#moveToTrash').click(function () {
                var selectedImages = [];
                $('.imageContainer.selected img').each(function () {
                    selectedImages.push($(this).attr('src'));
                });
                if (selectedImages.length > 0) {
                    var folderPath = selectedImages[0].substring(0, selectedImages[0].lastIndexOf('/'));
                    console.log(folderPath);
                    console.log(selectedImages);
                    $.ajax({
                        url: '/ImageSelection/MoveToTrash',
                        type: 'POST',
                        data: { images: selectedImages, folderPath: folderPath },
                        success: function (data) {
                            alert('Les images ont été déplacées avec succès vers la corbeille.');
                            $('.imageContainer.selected').remove();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Erreur lors du déplacement des images:', errorThrown);
                        }
                    });
                } else {
                    alert('Sélectionnez les images à déplacer vers le panier.');
                }
            });

            $('#imageGallery').on('dblclick', '.imageContainer', function () {
                $(this).toggleClass('selected');
            });

            function getImageName(path) {
                return path.substring(path.lastIndexOf('/') + 1);
            };

            $('#treeSearch').on('input', function () {
                var searchString = $(this).val();
                var tree = $.ui.fancytree.getTree("#fancytree");;
                tree.filterNodes(searchString);
            });

            $('#submitImages').click(function () {
                var selectedImages = [];
                $('.imageContainer.selected img').each(function () {
                    selectedImages.push($(this).attr('src'));
                });
                var selectedImagesJson = JSON.stringify(selectedImages);
                window.location.href = '/ImageForm/Index?selectedImages=' + encodeURIComponent(selectedImagesJson);
            });

            $(document).ready(function () {
                var modal = $("#imageModal");
                var modalImg = $("#modalImage");
                var span = $(".close");

                function displayModal(imageSrc) {
                    modalImg.attr("src", imageSrc);
                    modal.css("display", "block");
                }

                span.on("click", function () {
                    modal.css("display", "none");
                });

                $(window).on("click", function (event) {
                    if (event.target == modal[0]) {
                        modal.css("display", "none");
                    }
                });

                $('#imageGallery').on('click', '.zoomIcon', function (event) {
                    var imageUrl = $(this).siblings('img').attr('src');
                    displayModal(imageUrl);
                    event.stopPropagation();
                });
            });
        });
    </script>
    <link rel="stylesheet" href="~/css/selection_images.css">
}

<div style="display: flex;">
    <div style="flex: 1; border-right;">
        <input type="text" id="treeSearch" placeholder="Recherche...">
        <div id="fancytree"></div>
        <div class="pseudo_btn_wrap_out">
            <div id="submitImages" class="pseudo_btn_wrap_in">
                <div class="pseudo_btn">
                    Continuer
                </div>
            </div>
        </div>
        <div class="pseudo_btn_wrap_out">
            <div id="moveToTrash" class="pseudo_btn_wrap_in">
                <div class="pseudo_btn my_red">
                    -> Poubelle
                </div>
            </div>
        </div>
    </div>
    <div id="imageGallery" style="flex: 4;"></div>
</div>


<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
</div>
