<!-- Views/ImageSelection/Index.cshtml -->
@model List<FancyTreeNode>

@section scripts {
    <link rel="stylesheet" href="~/lib/jquery.fancytree/dist/skin-lion/ui.fancytree.min.css">
    <script src="~/lib/jquery.fancytree/dist/jquery.fancytree-all-deps.min.js"></script>
    <script src="~/lib/jquery.fancytree/dist/modules/jquery.fancytree.filter.js"></script>
        @*     <script type="module">
        import PhotoSwipeLightbox from '/lib/photoswipe/dist/photoswipe-lightbox.esm.js';
        const lightbox = new PhotoSwipeLightbox({
            gallery: '#my-gallery',
            children: 'a',
            pswpModule: () => import('/lib/photoswipe/dist/photoswipe.esm.js')
        });
        lightbox.init();
    </script>
    <link rel="stylesheet" href="~/lib/photoswipe/dist/photoswipe.css"> *@
    <link rel="stylesheet" href="~/css/selection_images.css">
    <script>
        $(document).ready(function () {
            $('#fancytree').fancytree({
                source: @Html.Raw(Json.Serialize(Model)),
                extensions: ['filter'],
                filter: {
                    mode: 'hide'
                },
                activate: function (event, data) {
                    var selectedFolder = data.node.data.path;
                    $.ajax({
                        url: '/ImageSelection/GetImages',
                        type: 'GET',
                        data: { folderPath: selectedFolder },
                        success: function (data) {
                            $('#imageGallery').empty();
                            data.forEach(function (image) {
                                var imageElement = $('<div class="imageContainer"></div>');
                                var img = $('<img src="' + image.path + '" style="max-width: 100%;" />');
                                var imageName = $('<p>' + getImageName(image.path) + '</p>');
                                var checkbox = $('<input type="checkbox" name="selectedImages" value="' + image.path + '" />');
                                imageElement.append(img);
                                imageElement.append(checkbox);
                                imageElement.append(imageName);
                                $('#imageGallery').append(imageElement);
                            });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error('Erreur de chargement des images:', errorThrown);
                        }
                    });
                }
            });
            function getImageName(path) {
                return path.substring(path.lastIndexOf('/') + 1);
            };
            $('#treeSearch').on('input', function () {
                var searchString = $(this).val();
                var tree = $.ui.fancytree.getTree("#fancytree");;
                tree.filterNodes(searchString);
            });
            $('#submitImages').click(function () {
                var selectedImages = [];
                $('input[name="selectedImages"]:checked').each(function () {
                    selectedImages.push($(this).val());
                });
                var selectedImagesJson = JSON.stringify(selectedImages);
                window.location.href = '/ImageForm/Index?selectedImages=' + encodeURIComponent(selectedImagesJson);
            });
        });
    </script>
}

<div style="display: flex;">
    <div style="flex: 1; border-right;">
        <input type="text" id="treeSearch" placeholder="Recherche...">
        <div id="fancytree"></div>
        <div class="pseudo_btn_wrap_out">
            <div id="submitImages" class="pseudo_btn_wrap_in">
                <div class="pseudo_btn">
                    Continuer
                </div>
            </div>
        </div>
    </div>
    <div id="imageGallery" style="flex: 4;"></div>
</div>