@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour</h1>
</div>

<div class="pseudo_btn_wrap_out">
    <a asp-controller="ImageSelection" asp-action="Index" class="pseudo_btn_wrap_in">
        <div class="pseudo_btn">
            Gerer les images
        </div>
    </a>
</div>
