<!-- Views/ImageForm/Index.cshtml -->
@section scripts {
    <script src="~/lib/splide/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="~/lib/splide/dist/css/splide.min.css">
    <link rel="stylesheet" href="~/lib/splide/dist/css/themes/splide-sea-green.min.css">
    <link rel="stylesheet" href="~/css/my_splide.css">
    <script src="~/js/my_splide.js" defer></script>
                @* <script src="~/js/my_search_web_prod.js"></script> *@
    <script src="~/js/my_search_lab.js"></script>
    <script src="~/js/my_search_prod.js"></script>
    <script src="~/js/labselinput.js"></script>
}

<div class="my_block my_flex">
    <div>
        <label for="labSearch" class="label-fixed">Laboratoire:</label>
        <input type="text" id="autocomplete-lab" name="labSearch">
        <div id="autocomplete-res-lab"></div>
        <br>
        <label for="productSearch" class="label-fixed">Code/Nom/Lpp:</label>
        <input type="text" id="autocomplete-prod" name="productSearch">
        <div id="autocomplete-res-prod"></div>
        <span id="res-prod-count">x </span><label for="productSearch"> produits trouvés</label>
        <button id="searchButton">Recherche</button>  
    </div>
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }
</div>

<div class="my_block my_flex">
    <div class="my_left_side">
        <span id="selected-code">Code: </span>
        <br>
        <span id="selected-nom">Nom: </span>
        <p>Membre du Groupe de x produits / Creer groupe</p>
    </div>
    <div class="my_right_side">
        <div class="pseudo_btn_wrap_out">
            <div class="pseudo_btn_wrap_in">
                <div class="pseudo_btn">
                    Enregistrer
                </div>
            </div>
            <div class="pseudo_btn_wrap_in">
                <div class="pseudo_btn">
                    Annuler
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my_block my_flex">
    <div class="my_left_side">
        <div id="main-carousel"
             class="splide my_carousel">
            <div class="splide__track">
                <ul class="splide__list" id="carousel-images"></ul>
            </div>
        </div>

        <div id="thumbnail-carousel"
             class="splide my_thumbnail_carousel">
            <div class="splide__track">
                <ul class="splide__list" id="carousel-images-thumbnail"></ul>
            </div>
        </div>
    </div>
    <div class="my_right_side">
        <p>
            Créer: Nouveau
        </p>
        <p>
            Operateur: ABCDEFG
        </p>
        <input type="number" id="tri-input" placeholder="Faire le tri">
        <button id="tri-button">Tri</button>
        <div class="pseudo_btn_wrap_out">
            <div class="pseudo_btn_wrap_in">
                <div class="pseudo_btn">
                    Nouveau
                </div>
            </div>
            <br />
            <br />
            <div class="pseudo_btn_wrap_in" id="supprimer">
                <div class="pseudo_btn">
                    Supprimer
                </div>
            </div>
            <br />
            <br />
            <a asp-controller="ImageSelection" asp-action="ImagesAdding" class="pseudo_btn_wrap_in">
                <div class="pseudo_btn">
                    Ajouter
                </div>
            </a>
            <br />
            <br />
            <div class="pseudo_btn_wrap_in">
                <div class="pseudo_btn my_red">
                    Pubelle
                </div>
            </div>
        </div>
    </div>
</div>

<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
</div>