.container {
    margin: auto;
    max-width: 85%;
}

.my_block {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

.my_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my_left_side {
    flex-grow: 1;
    text-align: left;
    margin-left: 10vw;
}

.my_right_side {
    text-align: right;
    margin-left: auto;
    margin-right: 10vw;
}

.my_carousel {
    width: 30vw;
    height: 40vh;
    overflow: hidden;
    text-align: center;
}

    .my_carousel img {
        max-width: 100%;
        max-height: 35vh;
        object-fit: scale-down;
    }

.my_thumbnail_carousel {
    width: 30vw;
    text-align: center;
}

    .my_thumbnail_carousel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.pseudo_btn_wrap_in {
    width: 150px;
}

.my_red {
    background-color: darkred;
}

input {
    width: 20vw;
    margin: 5px;
}

#tri-input {
    width: 5vw;
}

.label-fixed {
    width: 5vw;
    display: inline-block;
}

#autocomplete-res-prod, #autocomplete-res-lab {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    margin-left: 5vw;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

.modal-content {
    max-height: 85vh;
    max-width: 85vw;
    object-fit: scale-down;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .modal-content img {
        display: block;
    }

.close {
    color: white;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
}

    .close:hover, .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

.zoomIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1;
}

#dropzoneContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    padding: 20px;
    border-radius: 5px;
}

#customDropzone {
    text-align: center;
    width: 50vw;
    height: 50vh;
}

#closeDropzoneButton {
    margin-top: 10px;
}