.container {
    margin: 0;
    max-width: 100%;
    padding-left: 5vh;
}

#treeSearch {
    border: none;
}

ul.fancytree-container {
    border: none;
}

#imageGallery {
    border-left: groove;
    border-left-color: forestgreen;
    border-left-width: 10px;
    padding-left: 10vh;
    padding-right: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.imageContainer {
    flex: 0 0 20%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

    .imageContainer.selected {
        background-color: lightgray;
    }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

.modal-content {
    max-height: 85vh;
    max-width: 85vw;
    object-fit: scale-down;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .modal-content img {
        display: block;
    }

.close {
    color: white;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
}

    .close:hover, .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

.zoomIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px; 
    cursor: pointer;
    z-index: 1;
}