@model IEnumerable<Image>

@foreach (var image in Model)
{
    <div>
        <img src="@image.ImagePath" alt="@image.ImageName" width="100">
        <!-- Добавьте чекбокс для выбора изображения -->
        <input type="checkbox" name="selectedImageIds" value="@image.Id" />
    </div>
}

<form asp-controller="ImageManagement" asp-action="SelectImages" method="post">
    <button type="submit">Select Images</button>
</form>